node_modules
node_modules/*
npm-debug.log
build
.git
.idea
*.md
.gitignore
test.html
test.js
*.env
env
.cache
coverage
src/crawlers/samples/**/*.zip
src/crawlers/samples/**/*.json
docs/**.md
temp
manualTest.js
manualTest.http
.db
db-backups
docker