openapi: "3.0.0"
info:
  title: Downloader Api
  description: <p> A webcrawler based movie/anime data provider with rest api <br/> <br/>
    <p/>
  version: 1.0.0
  contact:
    email: ashkanaz2828@gmail.com
  license:
    "name": "Apache 2.0"
    "url": 'http://www.apache.org/licenses/LICENSE-2.0.html'
"servers":
  - "url": 'https://api.movietracker.mom'
  - "url": 'http://localhost:3000'

paths:
  /users/signup:
    post:
      tags:
        - Users-Auth
      summary: Signup
      description: <p> Create account, also return `refreshToken`. <br/>
        <br/>
        put `accessToken` in each request header. <br/>
        also send `refreshToken` cookie in each request. <br/> <br/>
        for mobile phones or situations where cookies are not available, send `refreshToken` into headers and use `noCookie=true` parameter in api routes to receive it. <br/> <br/>
        api routes send code 403 when `accessToken` is invalid or out of date. (getToken again) <br/>
        api routes send code 401 when `refreshToken` is invalid or out of date or revoked. (must log in again) <br/>
        `users/getToken` route also generates new refreshToken and must replace the existing on client <br/>
        <br/>
        for web browsers <br/>
        1. Save `accessToken` into a variable. <br/>
        2. Put `accessToken` in headers for all the requests. <br/>
        3. When user `login` or `signup` you will receive `accessToken`. <br/>
        4. After some time `accessToken` will get invalid and server gives 403 error. <br/>
        5. After getting 403 error, use `getToken` api to receive new `accessToken` and replace it in client. <br/>
        6. Along with `accessToken` you receive `accessToken_expire` witch shows the time `accessToken` get invalid. <br/>
        7. It's better to watch for it before request and call `getToken` to receive new `accessToken` this way you prevent from getting 403 error. <br/>
        8. If you get 401 error, you should remove and `accessToken` and redirect user to login page. <br/>
        9. When user is logged in and closes the browser, after opening browser again `accessToken` doesn't exist, so you should call `getToken` api before calling apis. <br/>
        <br/>
        for clients without ability to use cookie, like mobile apps <br/>
        1. add `?noCookie=true` at the end of login/signup/getToken api url. <br/>
        2. Save `accessToken` and `refreshToken` into variables. <br/>
        3. `refreshToken` should be saved to client storage secretly. <br/>
        4. Put `accessToken` and `refreshToken` in headers for all the requests. <br/>
        5. When user `login` or `signup` you will get `accessToken` and `refreshToken`. <br/>
        6. After some time `accessToken` will get invalid and server gives 403 error. <br/>
        7. After getting 403 error, use `getToken` api to receive new `accessToken` and `refreshToken` and replace them in client. <br/>
        8. Along with `accessToken` you receive `accessToken_expire` witch shows the time `accessToken` get invalid. <br/>
        9. It's better to watch for it before request and call `getToken` to receive new `accessToken` this way you prevent from getting 403 error. <br/>
        10. If you get 401 error, you should remove `accessToken` and `refreshToken` redirect user to login page. <br/>
        11. When user is logged in and closes the browser, after opening browser again `accessToken` and `refreshToken` doesn't exist, so you should call `getToken` api before calling apis.
        <p/>
      operationId: users/signup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  pattern: ^[a-z|\d_-]+$
                  minimum: 6
                  maximum: 50
                  required: true
                email:
                  type: string
                password:
                  type: string
                  description: at least one number and capital letter  and length in range
                confirmPassword:
                  type: string
                deviceInfo:
                  $ref: '#/components/schemas/DeviceInfo'
      parameters:
        - name: noCookie
          in: query
          schema:
            type: boolean
          required: false
      responses:
        201:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'
                  - $ref: '#/components/schemas/SignUpResult'
        400:
          description: Bad request body fields
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'
                type: object
                properties:
                  data:
                    type: object
                    nullable: true

  /users/login:
    post:
      tags:
        - Users-Auth
      summary: LogIn
      description: Login account, also return `refreshToken`.
      operationId: users/login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username_email:
                  type: string
                  pattern: ^[a-z|\d_-]+$
                  minimum: 6
                  maximum: 50
                  required: true
                  description: means user can log in with username or email address
                password:
                  type: string
                  description: at least one number and capital letter and length in range
                deviceInfo:
                  $ref: '#/components/schemas/DeviceInfo'
      parameters:
        - name: noCookie
          in: query
          schema:
            type: boolean
          required: false
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'
                  - $ref: '#/components/schemas/SignUpResult'
        400:
          description: Bad request body fields
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'
                type: object
                properties:
                  data:
                    type: object
                    nullable: true

  /users/gettoken:
    put:
      tags:
        - Users-Auth
      summary: Get token
      description: Get new Tokens, also return `refreshToken`.
      operationId: users/gettoken
      security:
        - accessToken: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                deviceInfo:
                  $ref: '#/components/schemas/DeviceInfo'
      parameters:
        - name: profileImages
          in: query
          schema:
            type: boolean
          required: false
        - name: noCookie
          in: query
          schema:
            type: boolean
          required: false
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'
                  - $ref: '#/components/schemas/SignUpResult'
                type: object
                properties:
                  profileImages:
                    type: array
                    items:
                      type: object
                      properties:
                        url:
                          type: string
                        originalSize:
                          type: integer
                        size:
                          type: integer
                        thumbnail:
                          type: string
                        addDate:
                          $ref: '#/components/schemas/DateString'
        400:
          description: Bad request body fields
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'
                type: object
                properties:
                  data:
                    type: object
                    nullable: true
        401:
          $ref: '#/components/responses/UnauthorizedError'

  /users/logout:
    put:
      tags:
        - Users-Auth
      summary: Logout
      description: Logout user, return __accessToken__ as empty string and also reset/remove `refreshToken` cookie if use in browser. in other environments reset `refreshToken` from client after successful logout.
      operationId: users/logout
      security:
        - accessToken: [ ]
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'
                type: object
                properties:
                  accessToken:
                    type: string
        400:
          description: Bad request body fields
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'
                type: object
                properties:
                  data:
                    type: object
                    nullable: true
        401:
          $ref: '#/components/responses/UnauthorizedError'

  /users/forceLogout/{deviceId}:
    put:
      tags:
        - Users-Auth
      summary: Force Logout
      description: Logout selected device, return remaining active sessions in field __activeSessions__.
      operationId: users/forceLogout
      security:
        - accessToken: [ ]
      parameters:
        - name: deviceId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'
        400:
          description: Bad request body fields
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'
                type: object
                properties:
                  data:
                    type: object
                    nullable: true
        401:
          $ref: '#/components/responses/UnauthorizedError'

  /users/forceLogoutAll:
    put:
      tags:
        - Users-Auth
      summary: Force Logout All
      description: force logout all session except current session, return __activeSessions__ as empty array.
      operationId: users/forceLogoutAll
      security:
        - accessToken: [ ]
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'
        400:
          description: Bad request body fields
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'
        401:
          $ref: '#/components/responses/UnauthorizedError'

  /users/deleteAccount:
    delete:
      tags:
        - Users-Auth
      summary: Delete Account
      description: remove user account. send a email to the user with a link, if user open it, account gets removed. the link expires in 10 minutes
      operationId: users/deleteAccountEmail
      security:
        - accessToken: [ ]
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'
        401:
          $ref: '#/components/responses/UnauthorizedError'

  /users/deleteAccount/{userId}/{token}:
    get:
      tags:
        - Users-Auth
      summary: Delete Account
      description: <p> > remove account link created on server and send to user by email, if user click this link the account will start to remove. <br/>
        limited to 2 call per minute**
        <p/>
      operationId: users/deleteAccount
      parameters:
        - name: userId
          required: true
          in: path
          schema:
            type: integer
        - name: token
          required: true
          in: path
          schema:
            type: string
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'
        404:
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseCode'
        401:
          $ref: '#/components/responses/UnauthorizedError'

  /users/profile:
    get:
      tags:
        - Users
      summary: Profile Data
      description: Return users profile data. if dont provide userId, return current user profile
      operationId: users/profile
      security:
        - accessToken: [ ]
      parameters:
        - name: userId
          in: query
          required: false
          schema:
            type: integer
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'
                  - $ref: '#/components/schemas/Profile'
        404:
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseCode'
        401:
          $ref: '#/components/responses/UnauthorizedError'

  /users/editProfile:
    post:
      tags:
        - Users
      summary: Edit Profile
      description: Edit profile data.
      operationId: users/editProfile
      security:
        - accessToken: [ ]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  required: true
                publicName:
                  type: string
                  description: other users see this in general
                  required: true
                email:
                  type: string
                  required: true
                bio:
                  type: string
                  required: true
                  description: can be empty
                mbtiType:
                  type: string
                  required: false
                  nullable: true
                  description: can be null
                  enum:
                    - ISTJ
                    - ISFJ
                    - INFJ
                    - INTJ
                    - ISTP
                    - ISFP
                    - INFP
                    - INTP
                    - ESTP
                    - ESFP
                    - ENFP
                    - ENTP
                    - ESTJ
                    - ESFJ
                    - ENFJ
                    - ENTJ
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'
        404:
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseCode'
        401:
          $ref: '#/components/responses/UnauthorizedError'

  /users/updatePassword:
    put:
      tags:
        - Users
      summary: Update Password
      description: Update User Password.
      operationId: users/updatePassword
      security:
        - accessToken: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                oldPassword:
                  type: string
                  description: at least one number and capital letter and length in range [8-50]
                newPassword:
                  type: string
                  description: at least one number and capital letter and length in range [8-50]
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'
        404:
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseCode'
        401:
          $ref: '#/components/responses/UnauthorizedError'

  /users/sendVerifyEmail:
    get:
      tags:
        - Users
      summary: Send Verify Email
      description: <p> send an email with an activation link. the link will expire after 6 hour. <br/>
        maybe email goes to spam folder. <br/>
        limited to 2 call per minute
        <p/>
      operationId: users/sendVerifyEmail
      security:
        - accessToken: [ ]
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'
        404:
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseCode'
        401:
          $ref: '#/components/responses/UnauthorizedError'

  /users/verifyEmail/{userId}/{token}:
    get:
      tags:
        - Users
      summary: Verify Email
      description: <p> > verify given email token. create activation link on server side. <br/>
        limited to 2 call per minute**
        <p/>
      operationId: users/verifyEmail
      parameters:
        - name: userId
          required: true
          in: path
          schema:
            type: integer
        - name: token
          required: true
          in: path
          schema:
            type: string
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'
        404:
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseCode'
        401:
          $ref: '#/components/responses/UnauthorizedError'

  /users/uploadProfileImage:
    post:
      tags:
        - Users
      summary: Upload Profile Image
      description: <p>
        send data as formData and don't forget to set contentType <br/>
        returns new profileImages array. <br/> <br/>
        file size limited to `2mb` and accept [`jpg`, `jpeg`, `png`, `webp`] formats only, (error code 400). <br/>
        20 profile image per user, (error code 409)
        <p/>
      operationId: users/uploadProfileImage
      security:
        - accessToken: [ ]
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                profileImage:
                  type: string
                  required: true
                  format: binary
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'
                type: object
                properties:
                  profileImages:
                    type: array
                    items:
                      type: object
                      properties:
                        url:
                          type: string
                        originalSize:
                          type: integer
                        size:
                          type: integer
                        thumbnail:
                          type: string
                        addDate:
                          $ref: '#/components/schemas/DateString'
        401:
          $ref: '#/components/responses/UnauthorizedError'

  /users/removeProfileImage/{filename}:
    delete:
      tags:
        - Users
      summary: Remove Profile Image
      description: Returns new profileImages array
      operationId: users/removeProfileImage
      security:
        - accessToken: [ ]
      parameters:
        - name: filename
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'
                type: object
                properties:
                  profileImages:
                    type: array
                    items:
                      type: object
                      properties:
                        url:
                          type: string
                        originalSize:
                          type: integer
                        size:
                          type: integer
                        thumbnail:
                          type: string
                        addDate:
                          $ref: '#/components/schemas/DateString'
        401:
          $ref: '#/components/responses/UnauthorizedError'

  /users/computeUserStats:
    put:
      tags:
        - Users-Compute
      summary: Change Specific User Settings
      description: <p>
        Returns data based on computeUserStats <br/>
        limited to 3 call per minute <br/>
        every week at 01:00 of sunday, extract favorite genres from last 500 titles from [like, save, follow, finished] movies.
        <p/>
      operationId: users/changeUserSettings
      security:
        - accessToken: [ ]
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      favoriteGenres:
                        $ref: '#/components/schemas/FavoriteGenres'
                      lastUpdate:
                        $ref: '#/components/schemas/DateString'
        401:
          $ref: '#/components/responses/UnauthorizedError'

  /utils/getMessage:
    get:
      tags:
        - Utils
      summary: Global message
      description: return the global message set by admin
      operationId: utils-getMessage
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        $ref: '#/components/schemas/DateString'

  /utils/getApps:
    get:
      tags:
        - Utils
      summary: App Files
      description: return return apps with their data
      operationId: utils-getApps
      parameters:
        - name: appName
          in: query
          required: false
          schema:
            type: string
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AppData'

  /utils/checkAppUpdate/{appName}/{os}/{version}:
    get:
      tags:
        - Utils
      summary: Check App Update
      description: check app update exists, also send message
      operationId: utils-checkAppUpdate
      parameters:
        - name: appName
          in: path
          required: true
          schema:
            type: string
        - name: os
          in: path
          required: true
          schema:
            type: string
        - name: version
          in: path
          required: true
          schema:
            type: string
            pattern: \d\d?\.\d\d?\.\d\d?
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'
                  - $ref: '#/components/schemas/CheckUpdateData'

  /movies/{apiName}/{types}/{dataLevel}/{imdbScores}/{malScores}/{page}:
    get:
      tags:
        - Movies
      summary: New/Update/Trailer Movies
      description: Return news/updates/trailers movies
      operationId: movies-news
      parameters:
        - name: apiName
          required: true
          in: path
          schema:
            type: string
            default: news
            enum:
              - news
              - updates
              - trailers
        - $ref: '#/components/parameters/types'
        - $ref: '#/components/parameters/dataLevel'
        - $ref: '#/components/parameters/imdbScores'
        - $ref: '#/components/parameters/malScores'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/embedStaffAndCharacter'
        - $ref: '#/components/parameters/noUserStats'
      responses:
        200:
          $ref: '#/components/responses/Movies_200'

  /movies/newsWithDate/{date}/{types}/{dataLevel}/{imdbScores}/{malScores}/{page}:
    get:
      tags:
        - Movies
      summary: New Movies With Date
      description: Return recent movies (new released movies after [date]).
      operationId: movies-newsWithDate
      parameters:
        - $ref: '#/components/parameters/date'
        - $ref: '#/components/parameters/types'
        - $ref: '#/components/parameters/dataLevel'
        - $ref: '#/components/parameters/imdbScores'
        - $ref: '#/components/parameters/malScores'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/embedStaffAndCharacter'
        - $ref: '#/components/parameters/noUserStats'
      responses:
        200:
          $ref: '#/components/responses/Movies_200'

  /movies/updatesWithDate/{date}/{types}/{dataLevel}/{imdbScores}/{malScores}/{page}:
    get:
      tags:
        - Movies
      summary: Update Movies With Date
      description: return movies sorted by update date (movies with new episode or higher quality  after [date]).
      operationId: movies-updateWithDate
      parameters:
        - $ref: '#/components/parameters/date'
        - $ref: '#/components/parameters/types'
        - $ref: '#/components/parameters/dataLevel'
        - $ref: '#/components/parameters/imdbScores'
        - $ref: '#/components/parameters/malScores'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/embedStaffAndCharacter'
        - $ref: '#/components/parameters/noUserStats'
      responses:
        200:
          $ref: '#/components/responses/Movies_200'

  /movies/sortedMovies/{sortBase}/{types}/{dataLevel}/{imdbScores}/{malScores}/{page}:
    get:
      tags:
        - Movies
      summary: Sorted Movies
      description: Return movies sorted by something like 'comingSoon'. ranking update every 12 hour.
      operationId: movies-sortedMovies
      parameters:
        - $ref: '#/components/parameters/sortBase'
        - $ref: '#/components/parameters/types'
        - $ref: '#/components/parameters/dataLevel'
        - $ref: '#/components/parameters/imdbScores'
        - $ref: '#/components/parameters/malScores'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/embedStaffAndCharacter'
        - $ref: '#/components/parameters/noUserStats'
      responses:
        200:
          $ref: '#/components/responses/Movies_200'

  /movies/seriesOfDay/{dayNumber}/{types}/{imdbScores}/{malScores}/{page}:
    get:
      tags:
        - Movies
      summary: Series Of Day
      description: Return series that get release on that day.
      operationId: movies-seriesOfDay
      parameters:
        - $ref: '#/components/parameters/dayNumber'
        - $ref: '#/components/parameters/types'
        - $ref: '#/components/parameters/imdbScores'
        - $ref: '#/components/parameters/malScores'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/embedStaffAndCharacter'
        - $ref: '#/components/parameters/noUserStats'
      responses:
        200:
          $ref: '#/components/responses/Movies_200'

  /movies/multiple/status/{types}/{dataLevel}/{imdbScores}/{malScores}/{count}/{page}:
    get:
      tags:
        - Movies
      summary: Multiple Movies
      description: See yourself!
      operationId: movies-multi-status
      parameters:
        - $ref: '#/components/parameters/types'
        - $ref: '#/components/parameters/dataLevel'
        - $ref: '#/components/parameters/imdbScores'
        - $ref: '#/components/parameters/malScores'
        - $ref: '#/components/parameters/count'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/embedStaffAndCharacter'
        - $ref: '#/components/parameters/noUserStats'
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      inTheaters:
                        type: array
                        items:
                          $ref: '#/components/schemas/MovieData'
                      comingSoon:
                        type: array
                        items:
                          $ref: '#/components/schemas/MovieData'
                      news:
                        type: array
                        items:
                          $ref: '#/components/schemas/MovieData'
                      update:
                        type: array
                        items:
                          $ref: '#/components/schemas/MovieData'

  /movies/searchByID/{id}/{dataLevel}:
    get:
      tags:
        - Movies-Search
      summary: Search Movie Id
      description: Return Movie Data
      operationId: movies-searchMovieById
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/dataLevel'
        - $ref: '#/components/parameters/seasons_query'
        - $ref: '#/components/parameters/episodes_query'
        - $ref: '#/components/parameters/qualities_query'
        - $ref: '#/components/parameters/embedStaffAndCharacter'
        - $ref: '#/components/parameters/noUserStats'
        - name: embedRelatedTitles
          required: false
          in: query
          schema:
            type: boolean
            default: false
        - name: embedCollections
          required: false
          in: query
          schema:
            type: boolean
            default: false
        - name: embedDownloadLinksConfig
          required: false
          in: query
          description: also receive users downloadLinks config, result in slower response
          schema:
            type: boolean
            default: false
      responses:
        200:
          $ref: '#/components/responses/Movie_single_200'

  /movies/{staffOrCharacter}/searchByID/{id}:
    get:
      tags:
        - Movies-Search
      summary: Search Staff/Character By Id
      description: Return Staff/Character Data
      operationId: movies-searchStaffById
      parameters:
        - $ref: '#/components/parameters/staffOrCharacter'
        - $ref: '#/components/parameters/id_int'
        - $ref: '#/components/parameters/creditsCount'
        - $ref: '#/components/parameters/noUserStats'
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Staff'

  /movies/searchStaffAndCharacter/{dataLevel}/{page}:
    get:
      tags:
        - Movies-Search
      summary: Search Staff And Character
      description: __dataLevel__ can only be on one ['low', 'medium', 'high']
      operationId: movies-searchStaffAndCharacter
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/name_query'
        - $ref: '#/components/parameters/gender_query'
        - $ref: '#/components/parameters/country_query'
        - $ref: '#/components/parameters/hairColor_query'
        - $ref: '#/components/parameters/eyeColor_query'
        - $ref: '#/components/parameters/age_query'
        - $ref: '#/components/parameters/noUserStats'
        - name: dataLevel
          required: true
          in: path
          schema:
            type: string
            enum: [ 'low', 'medium', 'high' ]
            default: 'low'
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      staff:
                        type: array
                        items:
                          $ref: '#/components/schemas/Staff'
                      characters:
                        type: array
                        items:
                          $ref: '#/components/schemas/Character'

  /movies/searchStaff/{dataLevel}/{page}:
    get:
      tags:
        - Movies-Search
      summary: Search Staff
      description: __dataLevel__ can only be on one ['low', 'medium', 'high']
      operationId: movies-searchStaff
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/name_query'
        - $ref: '#/components/parameters/gender_query'
        - $ref: '#/components/parameters/country_query'
        - $ref: '#/components/parameters/hairColor_query'
        - $ref: '#/components/parameters/eyeColor_query'
        - $ref: '#/components/parameters/age_query'
        - $ref: '#/components/parameters/noUserStats'
        - name: dataLevel
          required: true
          in: path
          schema:
            type: string
            enum: [ 'low', 'medium', 'high' ]
            default: 'low'
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Staff'

  /movies/searchCharacter/{dataLevel}/{page}:
    get:
      tags:
        - Movies-Search
      summary: Search Character
      description: __dataLevel__ can only be on one ['low', 'medium', 'high']
      operationId: movies-searchCharacter
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/name_query'
        - $ref: '#/components/parameters/gender_query'
        - $ref: '#/components/parameters/country_query'
        - $ref: '#/components/parameters/hairColor_query'
        - $ref: '#/components/parameters/eyeColor_query'
        - $ref: '#/components/parameters/age_query'
        - $ref: '#/components/parameters/noUserStats'
        - name: dataLevel
          required: true
          in: path
          schema:
            type: string
            enum: [ 'low', 'medium', 'high' ]
            default: 'low'
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Character'

  /movies/searchMovie/{dataLevel}/{page}:
    get:
      tags:
        - Movies-Search
      summary: Search Movie
      description: ''
      operationId: movies-searchMovie
      parameters:
        - $ref: '#/components/parameters/dataLevel'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/country_query'
        - $ref: '#/components/parameters/embedStaffAndCharacter'
        - $ref: '#/components/parameters/noUserStats'
        - name: title
          required: false
          in: query
          schema:
            type: string
        - name: years
          required: false
          in: query
          schema:
            type: string
            pattern: \d+-\d+
        - name: types
          required: false
          in: query
          schema:
            type: string
            #enum: ['serial', 'movie', 'anime_serial', 'anime_movie']
            example: 'serial-anime_serial'
        - name: imdbScores
          required: false
          in: query
          schema:
            type: string
            pattern: \d-\d
            default: '0-10'
        - name: malScores
          required: false
          in: query
          schema:
            type: string
            pattern: \d-\d
            default: '0-10'
        - name: numberOfSeason
          required: false
          in: query
          schema:
            type: string
            pattern: \d+(-\d+)?
            default: '0-10'
        - name: genres
          required: false
          in: query
          description: Array of String joined by '-'
          example: action-sci_fi-drama
          schema:
            type: string
            description: Array of String joined by '-'
        - name: movieLang
          required: false
          in: query
          schema:
            type: string
        - name: dubbed
          required: false
          in: query
          schema:
            type: boolean
        - name: hardSub
          required: false
          in: query
          schema:
            type: boolean
        - name: censored
          required: false
          in: query
          schema:
            type: boolean
        - name: subtitle
          required: false
          in: query
          schema:
            type: boolean
        - name: watchOnlineLink
          required: false
          in: query
          schema:
            type: boolean
      responses:
        200:
          $ref: '#/components/responses/Movies_200'

  /movies/genres/{genres}/{types}/{dataLevel}/{imdbScores}/{malScores}/{page}:
    get:
      tags:
        - Movies-Search
      summary: Search Genres
      description: Return array of movies match with searching genres.
      operationId: movies-searchGenres
      parameters:
        - $ref: '#/components/parameters/types'
        - $ref: '#/components/parameters/dataLevel'
        - $ref: '#/components/parameters/imdbScores'
        - $ref: '#/components/parameters/malScores'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/embedStaffAndCharacter'
        - $ref: '#/components/parameters/noUserStats'
        - name: genres
          required: true
          in: path
          description: Array of String joined by '-'
          example: action-sci_fi-drama
          schema:
            type: string
            description: Array of String joined by '-'
      responses:
        200:
          $ref: '#/components/responses/Movies_200'

  /movies/credits/{id}/{page}:
    get:
      tags:
        - Credits
      summary: Movie Credits by Movie Id
      description: Return Movie Credits Data
      operationId: movies-getCreditsByMovieId
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/page'
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Credit'

  /movies/{staffOrCharacter}/credits/{id}/{page}:
    get:
      tags:
        - Credits
      summary: Staff/Character Credits by Id
      description: Return Staff/Character Credits Data
      operationId: movies-getStaffCreditsById
      parameters:
        - $ref: '#/components/parameters/staffOrCharacter'
        - $ref: '#/components/parameters/id_int'
        - $ref: '#/components/parameters/page'
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Credit'

  /movies/status/genres:
    get:
      tags:
        - Movies-Status
      summary: Status Of Genres
      description: Returns all available genres with their count.
      operationId: movies-status-genres
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        genre:
                          type: string
                        poster:
                          $ref: '#/components/schemas/Poster'
                        count:
                          type: integer

  /movies/status/movieSources:
    get:
      tags:
        - Movies-Status
      summary: Status Of Movie Sources
      description: Returns movie sources with latest url.
      operationId: movies-status-movieSources
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/MovieSources'

  /movies/addUserStats/likeOrDislike/{statType}/{id}:
    put:
      tags:
        - Movies-UserStats
      summary: Add/Remove Movie/Staff/Character Like/Dislike
      description: .
      operationId: movies-addUserStatsLikeDislike
      parameters:
        - name: statType
          required: true
          in: path
          schema:
            type: string
            enum: [ 'like_movie', 'dislike_movie', 'like_staff', 'dislike_staff', 'like_character', 'dislike_character' ]
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/remove_query'
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'

  /movies/addUserStats/followStaff/{statType}/{id}:
    put:
      tags:
        - Movies-UserStats
      summary: Add/Remove Staff/Character follow/favorite
      description: .
      operationId: movies-addUserStatsFollowStaff
      parameters:
        - name: statType
          required: true
          in: path
          schema:
            type: string
            enum: [ 'follow_staff', 'favorite_character' ]
        - $ref: '#/components/parameters/id_int'
        - $ref: '#/components/parameters/remove_query'
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'

  /movies/addUserStats/finish_movie/{id}:
    put:
      tags:
        - Movies-UserStats-FinishMovie
      summary: Add/Remove Movie To finished/dropped list
      description: <p> handle when user finished watching movie/serial or dropped it. also can handle favorite movie/serial<br/>
        movie/serial should be released before doing this action. <br/>
        if serial isn't ended, it will considered as dropped <br/>
        <p/>
      operationId: movies-addUserStatsFinishMovie
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/remove_query'
        - $ref: '#/components/parameters/favorite_query'
        - name: startDate
          in: query
          schema:
            type: string
          allowEmptyValue: true
        - name: endDate
          in: query
          schema:
            type: string
          allowEmptyValue: true
        - name: score
          in: query
          schema:
            type: number
            minimum: 0
            maximum: 10
          allowEmptyValue: true
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'
        409:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'
                type: object
                properties:
                  errorMessage:
                    type: string
                    default: Movie didnt released yet
                  code:
                    type: integer
                    default: 409

  /movies/addUserStats/finish_movie/{id}/handle_favorite/{favorite}:
    put:
      tags:
        - Movies-UserStats-FinishMovie
      summary: Add/Remove Movie To finished/dropped list
      description: handle favorite movies. it should be already added to finish_movie
      operationId: movies-addUserStatsFavoriteMovie
      parameters:
        - $ref: '#/components/parameters/id'
        - name: favorite
          required: false
          in: path
          schema:
            type: boolean
            default: true
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'

  /movies/addUserStats/follow_movie/{id}:
    put:
      tags:
        - Movies-UserStats-FinishMovie
      summary: Add/Remove Movie To Follow list
      description: add serial to list of serials that user follows, only works for serials titles.
      operationId: movies-addUserStatsFollowMovie
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/remove_query'
        - name: score
          in: query
          schema:
            type: number
            minimum: 0
            maximum: 10
          allowEmptyValue: true
        - name: watch_season
          in: query
          schema:
            type: integer
            minimum: 0
          allowEmptyValue: true
        - name: watch_episode
          in: query
          schema:
            type: integer
            minimum: 0
          allowEmptyValue: true
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'
        409:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'
                type: object
                properties:
                  errorMessage:
                    type: string
                    default: Works for serials only
                  code:
                    type: integer
                    default: 409

  /movies/addUserStats/watchlist_movie/{id}/{groupName}:
    put:
      tags:
        - Movies-UserStats-WatchList
      summary: Add/Remove To Watch list
      description: add movie/serial to watch list
      operationId: movies-addUserStatsWatchListMovie
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/remove_query'
        - name: groupName
          in: path
          schema:
            type: string
            default: default
          required: true
          allowEmptyValue: false
        - name: score
          in: query
          schema:
            type: number
            minimum: 0
            maximum: 10
          allowEmptyValue: true
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'
        409:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'
                type: object
                properties:
                  errorMessage:
                    type: string
                    default: already following or watched
                  code:
                    type: integer
                    default: 409

  /movies/addUserStats/watchlist_movie/groups:
    get:
      tags:
        - Movies-UserStats-WatchList
      summary: Get groups of Watch lists
      description: Get groups of Watch lists
      operationId: movies-addUserStatsWatchListGroup
      parameters:
        - name: embedSampleMovies
          required: false
          in: query
          schema:
            type: boolean
            required: false
            default: false
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'

  /movies/addUserStats/watchlist_movie/addGroup/{groupName}:
    put:
      tags:
        - Movies-UserStats-WatchList
      summary: Add/Remove group for Watch list
      description: Add/Remove group for Watch list. limited to 20 groups
      operationId: movies-addUserStatsWatchListAddGroup
      parameters:
        - $ref: '#/components/parameters/remove_query'
        - name: groupName
          in: path
          schema:
            type: string
            default: default
          required: true
          allowEmptyValue: false
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'
        409:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'
                type: object
                properties:
                  errorMessage:
                    type: string
                    default: already exist
                  code:
                    type: integer
                    default: 409

  /movies/addUserStats/collection_movie/addCollection/{collectionName}/{isPublic}/{description}:
    put:
      tags:
        - Movies-UserStats-Collection
      summary: Add/Remove Collection
      description: Add/Remove Collection for movies. limited to 20 groups
      operationId: movies-addUserStatsAddCollection
      parameters:
        - $ref: '#/components/parameters/remove_query'
        - name: collectionName
          in: path
          schema:
            type: string
          required: true
          allowEmptyValue: false
        - name: description
          in: path
          schema:
            type: string
          required: true
          allowEmptyValue: false
        - name: isPublic
          in: path
          schema:
            type: boolean
            default: true
          required: true
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'
        409:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'
                type: object
                properties:
                  errorMessage:
                    type: string
                    default: already exist
                  code:
                    type: integer
                    default: 409

  /movies/addUserStats/collection_movie/updateCollection/{collectionName}:
    put:
      tags:
        - Movies-UserStats-Collection
      summary: Update Collection
      description: Update Collection
      operationId: movies-addUserStatsUpdateCollection
      parameters:
        - name: collectionName
          in: path
          schema:
            type: string
          required: true
          allowEmptyValue: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                collectionName:
                  required: true
                  type: string
                description:
                  required: true
                  type: string
                isPublic:
                  required: true
                  type: boolean
                  default: true
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'
        409:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'
                type: object
                properties:
                  errorMessage:
                    type: string
                    default: Collection name already exist
                  code:
                    type: integer
                    default: 409

  /movies/addUserStats/collection_movie/addMovie/{collectionName}/{id}:
    put:
      tags:
        - Movies-UserStats-Collection
      summary: Add/Remove Movie of Collection
      description: Add/Remove movie from Collection
      operationId: movies-addUserStatsAddMovieCollection
      parameters:
        - $ref: '#/components/parameters/remove_query'
        - $ref: '#/components/parameters/id'
        - name: collectionName
          in: path
          schema:
            type: string
          required: true
          allowEmptyValue: false
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'
        409:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'
                type: object
                properties:
                  errorMessage:
                    type: string
                    default: already exist
                  code:
                    type: integer
                    default: 409

  /movies/addUserStats/collection_movie/collections:
    get:
      tags:
        - Movies-UserStats-Collection
      summary: Get Collections
      description: Get Collections
      operationId: movies-addUserStatsMovieCollection
      parameters:
        - name: embedSampleMovies
          required: false
          in: query
          schema:
            type: boolean
            required: false
            default: false
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'

  /movies/addUserStats/collection_movie/movies/{collectionName}/{dataLevel}/{page}:
    get:
      tags:
        - Movies-UserStats-Collection
      summary: Get Collections Movies
      description: Get Collections Movies
      operationId: movies-addUserStatsCollectionMovies
      parameters:
        - $ref: '#/components/parameters/dataLevel'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/embedStaffAndCharacter'
        - $ref: '#/components/parameters/noUserStats'
        - name: collectionName
          in: path
          schema:
            type: string
          required: true
          allowEmptyValue: false
      responses:
        200:
          $ref: '#/components/responses/Movies_200'

  /movies/addUserStats/collection_movie/search/{collectionName}/{page}:
    get:
      tags:
        - Movies-UserStats-Collection
      summary: Search Collections
      description: Get Collections Movies
      operationId: movies-addUserStatsSearchCollection
      parameters:
        - $ref: '#/components/parameters/page'
        - name: collectionName
          in: path
          schema:
            type: string
          required: true
          allowEmptyValue: false
        - name: embedSampleMovies
          required: false
          in: query
          schema:
            type: boolean
            required: false
            default: false
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'

  /movies/addUserStats/changeScore/{stat_list_type}/{score}/{id}:
    put:
      tags:
        - Movies-UserStats-State
      summary: Change Score of movie
      description: change Score of saved/follow/watched movies
      operationId: movies-addUserStatsChangeScore
      parameters:
        - $ref: '#/components/parameters/id'
        - name: score
          in: path
          schema:
            type: number
            minimum: 0
            maximum: 10
          allowEmptyValue: false
          required: true
        - name: stat_list_type
          in: path
          schema:
            type: string
            enum:
              - finish_movie
              - follow_movie
              - watchlist_movie
          allowEmptyValue: false
          required: true
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'

  /movies/addUserStats/changeWatchState/{stat_list_type}/{watch_season}/{watch_episode}/{id}:
    put:
      tags:
        - Movies-UserStats-State
      summary: Change Watch State of movie
      description: change Watch State of follow/watched movies
      operationId: movies-addUserStatsChangeWatchState
      parameters:
        - $ref: '#/components/parameters/id'
        - name: watch_season
          in: path
          schema:
            type: number
            minimum: 0
          allowEmptyValue: false
          required: true
        - name: watch_episode
          in: path
          schema:
            type: number
            minimum: 0
          allowEmptyValue: false
          required: true
        - name: stat_list_type
          in: path
          schema:
            type: string
            enum:
              - finish_movie
              - follow_movie
          allowEmptyValue: false
          required: true
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'
        409:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'
                type: object
                properties:
                  errorMessage:
                    type: string
                    default: Works for serials only
                  code:
                    type: integer
                    default: 409

  /movies/userStatsList/{statType}/{dataLevel}/{page}:
    get:
      tags:
        - Movies-UserStats-Lists
      summary: User Stats List
      description: Return array of movies/staff/character.
      operationId: movies-userStatsList
      parameters:
        - name: statType
          required: true
          in: path
          schema:
            type: string
            enum: [ 'like_movie', 'dislike_movie','like_staff', 'dislike_staff', 'like_character',
                    'dislike_character', 'follow_staff', 'favorite_character',
                    'finish_movie', 'follow_movie', 'watchlist_movie', 'episode_release', 'related_movie' ]
        - name: sortBy
          required: false
          description: only works for finish_movie, follow_movie, watchlist_movie.  By default sorted by date
          in: query
          schema:
            type: string
            enum:
              - date
              - score
            default: date
        - name: favoritesOnly
          required: false
          description: only works for finish_movie
          in: query
          schema:
            type: boolean
            default: false
        - name: dropsOnly
          required: false
          description: only works for finish_movie
          in: query
          schema:
            type: boolean
            default: false
        - name: groupName
          required: false
          description: only works for watchlist_movie
          in: query
          schema:
            type: string
        - $ref: '#/components/parameters/dataLevel'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/embedStaffAndCharacter'
        - $ref: '#/components/parameters/noUserStats'
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'
                type: object
                properties:
                  data:
                    oneOf:
                      - $ref: '#/components/schemas/MovieData'
                      - $ref: '#/components/schemas/Staff'
                      - $ref: '#/components/schemas/Character'

  /movies/birthday/{staffOrCharacter}/{dataLevel}/{page}:
    get:
      tags:
        - Birthday
      summary: Birthday List
      description: Return array of staff/character.
      operationId: movies-birthday
      parameters:
        - $ref: '#/components/parameters/staffOrCharacter'
        - $ref: '#/components/parameters/dataLevel'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/followedOnly_query'
        - $ref: '#/components/parameters/noUserStats'
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'
                type: object
                properties:
                  data:
                    type: array
                    items:
                      oneOf:
                        - $ref: '#/components/schemas/Staff'
                        - $ref: '#/components/schemas/Character'

  /movies/bots/{botId}/{moviesRequestName}/{types}/{dataLevel}/{imdbScores}/{malScores}:
    get:
      tags:
        - Bots
      summary: Bots Api
      description: <p>
        return movies based on the date that saved in server, send 404 error when no new movie or updates exist. <br/>
        send maximum 24 item . <br/>
        limited to 5 call per minute
        </p>
      operationId: movies-bots
      parameters:
        - $ref: '#/components/parameters/botId'
        - $ref: '#/components/parameters/moviesRequestName'
        - $ref: '#/components/parameters/types'
        - $ref: '#/components/parameters/dataLevel'
        - $ref: '#/components/parameters/imdbScores'
        - $ref: '#/components/parameters/malScores'
        - $ref: '#/components/parameters/dontUpdateServerDate_query'
        - $ref: '#/components/parameters/embedStaffAndCharacter'
        - $ref: '#/components/parameters/noUserStats'
      responses:
        200:
          $ref: '#/components/responses/Movies_200'

  /movies/animeEnglishName:
    get:
      tags:
        - Others
      summary: Anime English Name
      description: Return english names of anime based on japanese name.
      operationId: movies-animeEnglishName
      parameters:
        - name: japaneseNames
          required: true
          in: query
          description: exmaple japaneseNames=name1&japaneseNames=name2...
          schema:
            type: string
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        japaneseName:
                          type: string
                        englishName:
                          type: string

  /admin/login:
    post:
      tags:
        - Admin-Auth
      summary: Admin LogIn
      description: Login account, also return `refreshToken`.
      operationId: admin-login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username_email:
                  type: string
                  pattern: ^[a-z|\d_-]+$
                  minimum: 6
                  maximum: 50
                  required: true
                  description: means user can log in with username or email address
                password:
                  type: string
                  description: at least one number and capital letter and length in range
                deviceInfo:
                  $ref: '#/components/schemas/DeviceInfo'
      parameters:
        - name: noCookie
          in: query
          schema:
            type: boolean
          required: false
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'
                  - $ref: '#/components/schemas/SignUpResult'
        400:
          description: Bad request body fields
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'
                type: object
                properties:
                  data:
                    type: object
                    nullable: true

  /admin/gettoken:
    put:
      tags:
        - Admin-Auth
      summary: Admin Get token
      description: Get new Tokens, also return `refreshToken`.
      operationId: admin-gettoken
      security:
        - accessToken: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                deviceInfo:
                  $ref: '#/components/schemas/DeviceInfo'
      parameters:
        - name: profileImages
          in: query
          schema:
            type: boolean
          required: false
        - name: noCookie
          in: query
          schema:
            type: boolean
          required: false
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'
                  - $ref: '#/components/schemas/SignUpResult'
                type: object
                properties:
                  profileImages:
                    type: array
                    items:
                      type: object
                      properties:
                        url:
                          type: string
                        originalSize:
                          type: integer
                        size:
                          type: integer
                        thumbnail:
                          type: string
                        addDate:
                          $ref: '#/components/schemas/DateString'
        400:
          description: Bad request body fields
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'
                type: object
                properties:
                  data:
                    type: object
                    nullable: true
        401:
          $ref: '#/components/responses/UnauthorizedError'

  /admin/crawler/start:
    put:
      tags:
        - Admin-Crawler
      summary: Start Crawler
      description: Manually starting crawler
      operationId: admin-crawler-start
      parameters:
        - name: sourceName
          in: query
          required: true
          schema:
            type: string
        - name: mode
          in: query
          required: true
          schema:
            type: integer
            default: 0
        - name: handleDomainChange
          in: query
          required: true
          schema:
            type: boolean
            default: false
        - name: handleDomainChangeOnly
          in: query
          required: true
          schema:
            type: boolean
            default: false
        - name: dontUseRemoteBrowser
          in: query
          required: false
          schema:
            type: boolean
            default: false
        - name: axiosBlockThreshHold
          in: query
          required: false
          schema:
            type: integer
            default: 0
        - name: remoteBrowserBlockThreshHold
          in: query
          required: false
          schema:
            type: integer
            default: 0
        - name: castUpdateState
          in: query
          required: false
          schema:
            type: string
            enum:
              - none
              - ignore
              - force
            default: none
        - name: apiUpdateState
          in: query
          required: false
          schema:
            type: string
            enum:
              - none
              - ignore
              - force
            default: none
        - name: trailerUploadState
          in: query
          required: false
          schema:
            type: string
            enum:
              - none
              - ignore
              - force
            default: none
        - name: crawlerConcurrency
          in: query
          required: false
          schema:
            type: integer
            default: 0
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'

  /admin/crawler/pause/{duration}:
    put:
      tags:
        - Admin-Crawler
      summary: Pause Crawler
      description: Manually Pause crawler
      operationId: admin-crawler-pause
      parameters:
        - name: duration
          in: path
          description: minutes
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 120
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'

  /admin/crawler/resume/{force}:
    put:
      tags:
        - Admin-Crawler
      summary: Resume Crawler
      description: Manually Resume crawler
      operationId: admin-crawler-resume
      parameters:
        - name: force
          in: path
          required: true
          schema:
            type: boolean
            default: false
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'

  /admin/crawler/stop:
    put:
      tags:
        - Admin-Crawler
      summary: Stop Crawler
      description: Manually Stop crawler
      operationId: admin-crawler-stop
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'

  /admin/crawler/status:
    get:
      tags:
        - Admin-Crawler
      summary: Crawler Status
      description: Status of crawler
      operationId: admin-crawler-status
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'

  /admin/crawler/sources:
    get:
      tags:
        - Admin-Crawler
      summary: Crawler Sources
      description: Sources of crawler
      operationId: admin-crawler-sources
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'

  /admin/crawler/editSource/{sourceName}:
    put:
      tags:
        - Admin-Crawler
      summary: Edit Crawler Source
      description: Update data of selected source.
      operationId: admin-crawler-editSource
      parameters:
        - name: sourceName
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                movie_url:
                  type: string
                serial_url:
                  type: string
                crawlCycle:
                  type: integer
                  minimum: 0
                disabled:
                  type: boolean
                  default: false
                cookies:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      value:
                        type: string
                      expire:
                        type: integer
                reCrawl:
                  type: boolean
                  default: true
                description:
                  type: string
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'

  /admin/crawler/removeSource/{sourceName}:
    delete:
      tags:
        - Admin-Crawler
      summary: Remove Crawler Source
      description: remove links/poster/trailer/... related to this source.
      operationId: admin-crawler-removeSource
      parameters:
        - name: sourceName
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'

  /admin/crawler/addSource:
    put:
      tags:
        - Admin-Crawler
      summary: Add Crawler Source
      description: Add new source to crawler.
      operationId: admin-crawler-addSource
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                sourceName:
                  type: string
                movie_url:
                  type: string
                serial_url:
                  type: string
                crawlCycle:
                  type: integer
                  minimum: 0
                disabled:
                  type: boolean
                  default: false
                cookies:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      value:
                        type: string
                      expire:
                        type: integer
                description:
                  type: string
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'

  /admin/crawler/crawlUrl:
    put:
      tags:
        - Admin-Crawler
      summary: Crawl Url
      description: Crawl single url.
      operationId: admin-crawler-crawlUrl
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                sourceName:
                  type: string
                url_body:
                  type: string
                title:
                  type: string
                type:
                  type: string
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'

  /admin/crawler/duplicateTitles:
    get:
      tags:
        - Admin-Crawler
      summary: Duplicate Titles
      description: Get duplicated titles
      operationId: admin-crawler-duplicateTitles
      parameters:
        - name: preCheck
          in: query
          required: false
          schema:
            type: boolean
            default: true
        - name: autoRemove
          in: query
          required: false
          description: removes duplicated titles found by preCheck function. only work when preCheck=true
          schema:
            type: boolean
            default: false
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'

  /admin/analysis/{serverAnalysisFieldName}/{startTime}/{endTime}/{skip}/{limit}:
    get:
      tags:
        - Admin-Analysis
      summary: Crawler Analysis
      description: Analysis of crawler
      operationId: admin-crawler-analysis
      parameters:
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/serverAnalysisFieldName'
        - name: startTime
          in: path
          required: true
          schema:
            type: string
            format: date
        - name: endTime
          in: path
          required: true
          schema:
            type: string
            format: date
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'

  /admin/analysis/currentMonth/{serverAnalysisFieldName}/{page}:
    get:
      tags:
        - Admin-Analysis
      summary: Crawler Analysis (this month)
      description: Current Month Analysis of crawler
      operationId: admin-crawler-currentMonthAnalysis
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/serverAnalysisFieldName'
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'

  /admin/analysis/resolve/{serverAnalysisFieldName}/{id}:
    put:
      tags:
        - Admin-Analysis
      summary: Resolve/Remove Analysis
      description: Resolve/Remove Analysis
      operationId: admin-crawler-resolveAnalysis
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/serverAnalysisFieldName'
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'

  /admin/analysis/resolve/{serverAnalysisFieldName}:
    put:
      tags:
        - Admin-Analysis
      summary: Batch Resolve/Remove Analysis
      description: Batch Resolve/Remove Analysis
      operationId: admin-crawler-batchResolveAnalysis
      parameters:
        - $ref: '#/components/parameters/serverAnalysisFieldName'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    $ref: '#/components/parameters/id'
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'

  /admin/analysis/resolve/{serverAnalysisFieldName}/lastDays/{days}:
    put:
      tags:
        - Admin-Analysis
      summary: Batch Resolve/Remove Analysis
      description: Batch Resolve/Remove Analysis of last days
      operationId: admin-crawler-batchResolveAnalysisByDays
      parameters:
        - $ref: '#/components/parameters/serverAnalysisFieldName'
        - name: days
          in: path
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'

  /admin/server/status:
    get:
      tags:
        - Admin-ServerStatus
      summary: Resource status of server
      description: Resource status of server
      operationId: admin-serverStatus
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'

  /admin/remoteBrowsers/status:
    get:
      tags:
        - Admin-ServerStatus
      summary: Resource status of remoteBrowsers
      description: Resource status of remoteBrowsers
      operationId: admin-remoteBrowsersStatus
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'

  /admin/remotebrowsers/{mutateType}/{id}:
    put:
      tags:
        - Admin-ServerStatus
      summary: Change status of remoteBrowsers
      description: enable/disable selected remote browser temporary (enables again on the server restart).
      operationId: admin-changeRemoteBrowsersStatus
      parameters:
        - $ref: '#/components/parameters/id'
        - name: mutateType
          in: path
          required: true
          schema:
            type: string
            enum:
              - enable
              - disable
        - name: all
          in: query
          required: false
          schema:
            type: boolean
            default: false
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'

  /admin/remoteBrowsers/checkSource/{sourceName}/{url}:
    get:
      tags:
        - Admin-ServerStatus
      summary: Check source
      description: check source works on all remote browsers.
      operationId: admin-checkSource
      parameters:
        - $ref: '#/components/parameters/id'
        - name: sourceName
          in: path
          required: true
          schema:
            type: string
        - name: url
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'

  /admin/configs/update:
    put:
      tags:
        - Admin-ServerStatus
      summary: Update Config
      description: Update configs of the server
      operationId: admin-updateConfig
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                corsAllowedOrigins:
                  type: string
                disableTestUserRequests:
                  type: boolean
                disableCrawlerForDuration:
                  type: boolean
                disableCrawler:
                  type: boolean
                developmentFaze:
                  type: boolean
                mediaFileSizeLimit:
                  type: integer
                  default: 100
                  description: it in mb
                mediaFileExtensionLimit:
                  type: string
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'

  /admin/configs:
    get:
      tags:
        - Admin-ServerStatus
      summary: Get Config
      description: Get configs of the server
      operationId: admin-getConfig
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'

  /admin/setMessage:
    put:
      tags:
        - Admin-Utils
      summary: Set Message
      description: set message that all users see when open app
      operationId: admin-setMessage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                message:
                  type: string
                date:
                  type: string
                  format: date
                  description: message expiration date
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'

  /admin/addNewAppVersion:
    post:
      tags:
        - Admin-Utils
      summary: Add App
      description: add new app version. receive (appFile ~ File Buffer) in request body
      operationId: admin-addAppVersion
      parameters:
        - name: appData
          in: query
          required: true
          schema:
            type: object
            properties:
              appName:
                type: string
              version:
                type: string
              versionName:
                type: string
              os:
                type: string
              description:
                type: string
              minVersion:
                type: string
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'

  /admin/removeAppVersion/{vid}:
    put:
      tags:
        - Admin-Utils
      summary: Remove App
      description: remove app version.
      operationId: admin-removeAppVersion
      parameters:
        - name: vid
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'

  /admin/appVersions:
    get:
      tags:
        - Admin-Utils
      summary: Get Apps
      description: Get Apps
      operationId: admin-getApps
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'

  /admin/3rdpartyApis/checkWorking:
    get:
      tags:
        - Admin-Utils
      summary: Check Apis
      description: return api keys checking result
      operationId: admin-checkExternalApis
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'

  /admin/bots:
    get:
      tags:
        - Admin-Bots
      summary: Bots
      description: return bots data
      operationId: admin-bots-botsData
      parameters:
        - $ref: '#/components/parameters/botId_query'
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'
                type: object
                properties:
                  data:
                    oneOf:
                      - type: array
                        items:
                          $ref: '#/components/schemas/BotData'
                      - $ref: '#/components/schemas/BotData'

  /admin/bots/editBot/{botId}:
    put:
      tags:
        - Admin-Bots
      summary: Edit Bot
      description: edit bots data
      operationId: admin-bots-editBot
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                botName:
                  type: string
                  required: true
                botType:
                  type: string
                  required: true
                lastUseDate:
                  $ref: '#/components/schemas/DateString'
                lastApiCall_news:
                  $ref: '#/components/schemas/DateString'
                lastApiCall_updates:
                  $ref: '#/components/schemas/DateString'
                disabled:
                  type: boolean
                  default: false
                  required: true
                description:
                  type: string
                  required: false
      parameters:
        - $ref: '#/components/parameters/botId_param'
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'
                type: object
                properties:
                  data:
                    type: string

  /admin/bots/addBot:
    put:
      tags:
        - Admin-Bots
      summary: Add Bot
      description: add new Bot
      operationId: admin-bots-addNewBot
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                botName:
                  type: string
                  required: true
                botType:
                  type: string
                  required: true
                disabled:
                  type: boolean
                  default: false
                  required: true
                description:
                  type: string
                  required: false
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'
                type: object
                properties:
                  data:
                    type: string

  /admin/bots/deleteBot/{botId}:
    delete:
      tags:
        - Admin-Bots
      summary: Delete Bot
      description: delete bot data
      operationId: admin-bots-deleteBot
      parameters:
        - $ref: '#/components/parameters/botId_param'
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'
                type: object
                properties:
                  data:
                    type: string

  /admin/cronjobs:
    get:
      tags:
        - Admin-CronJobs
      summary: CronJobs
      description: return cronJobs status
      operationId: admin-cronJobs
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        running:
                          type: string
                        startDate:
                          $ref: '#/components/schemas/DateString'
                        state:
                          type: string
                        value:
                          oneOf:
                            - type: string
                            - type: integer
                            - type: object
                        description:
                          type: string

  /admin/CronJobs/start/{jobName}:
    put:
      tags:
        - Admin-CronJobs
      summary: Start CronJob
      description: start CronJob
      operationId: admin-startCronJobs
      parameters:
        - $ref: '#/components/parameters/jobName_param'
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'
                type: object
                properties:
                  data:
                    type: string

  /admin/movies/relatedTitle/add/{id1}/{id2}/{relation}:
    put:
      tags:
        - Admin-Movies
      summary: Add Related Title
      description: add relationship between titles
      operationId: admin-addRelatedTitle
      parameters:
        - name: id1
          in: path
          required: true
          schema:
            type: string
        - name: id2
          in: path
          required: true
          schema:
            type: string
        - name: relation
          in: path
          required: true
          schema:
            type: string
            enum:
              - prequel
              - sequel
              - spin_off
              - side_story
              - full_story
              - summary
              - parent_story
              - other
              - alternative_setting
              - alternative_version
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'
                type: object
                properties:
                  data:
                    type: string

  /admin/movies/relatedTitle/remove/{id1}/{id2}:
    delete:
      tags:
        - Admin-Movies
      summary: Remove Titles Relation
      description: remove relationship between titles
      operationId: admin-removeRelatedTitle
      parameters:
        - name: id1
          in: path
          required: true
          schema:
            type: string
        - name: id2
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'
                type: object
                properties:
                  data:
                    type: string

  /admin/remove/{removeType}/{id}:
    delete:
      tags:
        - Admin-Remove
      summary: Remove Docs/Rows
      description: Removes movieSource/movie/staff/character/user/. cannot remove users with role=admin
      operationId: admin-removeDocsRows
      parameters:
        - name: removeType
          in: path
          required: true
          schema:
            type: string
            enum:
              - movie
              - staff
              - character
              - user
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseCode'
                type: object
                properties:
                  data:
                    type: string


security:
  - accessToken: [ ]

"components":
  securitySchemes:
    accessToken:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    sortBase:
      name: sortBase
      required: true
      in: path
      schema:
        type: string
        enum: [ 'animeTopComingSoon', 'animeTopAiring', 'animeSeasonNow',
                'animeSeasonUpcoming', 'comingSoon', 'inTheaters',
                'boxOffice', 'like', 'like_month', 'follow_month', 'view_month'
        ]
        default: 'animeTopComingSoon'
    date:
      name: date
[...]
